* {
    margin: 0; 
    padding: 0;
  }
  
  body {
    height: 100vh;
    background-color: #2C2E65; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

div {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 50%;
}

.neon-logo {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

  stroke: #fff; 
  width: auto;

  animation-name: neon;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes neon {
  0% {
    filter: drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 3px #fff)
    drop-shadow(0px 0px 10px #EBF1FF)
    drop-shadow(0px 0px 30px #BFC9E8)
    drop-shadow(0px 0px 50px #0B19AA);
  }

  100% {
    filter: drop-shadow(0px 0px 3px #fff)
    drop-shadow(0px 0px 6px #fff)
    drop-shadow(0px 0px 15px #EBF1FF)
    drop-shadow(0px 0px 40px #BFC9E8)
    drop-shadow(0px 0px 60px #0B19AA); 
  }
}

h1 {
  font-family: sans-serif;
  text-align: center;
  color: white;
  padding-bottom: 10%;
}